<ion-view title="Página Inicial - Tabajara Project" id="page1" style="background-color:#FDDFAB;">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/QqQy6EYRdC3jrDHrAXGg_logo drc.png" width="53%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="button-bar"></div>
        <div class="button-bar"></div>
        <div>
            <a style="display:block;" href="#" onclick="window.open('www.etecdrc.com.br', '_system', 'location=yes'); return false;">
                <img src="img/OZBmzituTxeaCWUnfyxG_etec_031.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div id="pGinaInicialTabajaraProject-markdown1" style="color:#000000;text-align:center;">
            <p>Abrem as insrições para o vestibulinho.
                <strong>Clique e saiba mais</strong>
            </p>
        </div>
        <div class="spacer" style="width: 283px; height: 19px;"></div>
        <a ui-sref="navegar.horRios" id="pGinaInicialTabajaraProject-button4" class="button button-dark  button-block">VERIFICAR HORÁRIOS DE 2016</a>
        <div class="spacer" style="width: 283px; height: 19px;"></div>
        <h2 id="pGinaInicialTabajaraProject-heading6" style="color:#000000;text-align:center;">Follow us:</h2>
        <div class="button-bar">
            <button id="pGinaInicialTabajaraProject-button12" style="color:#3C5A99;" class="button button-positive  button-block button-clear icon ion-social-facebook"></button>
            <button id="pGinaInicialTabajaraProject-button13" style="color:#006699;" class="button button-stable  button-block button-clear icon ion-social-linkedin"></button>
            <button id="pGinaInicialTabajaraProject-button14" class="button button-assertive  button-block button-clear icon ion-social-youtube"></button>
        </div>
    </ion-content>
</ion-view>