<ion-view title="Sobre nós" id="page3" style="background-color:#FDDFAB;">
    <ion-content padding="true" class="has-header">
        <h1 id="sobreNS-heading1" style="color:#000000;text-align:center;">ETEC Doutora Ruth Cardoso</h1>
        <div class="spacer" style="width: 283px; height: 44px;"></div>
        <h2 id="sobreNS-heading2" style="color:#000000;font-weight:400;text-align:center;">“MISSÃO DA ETEC DOUTORA RUTH CARDOSO”</h2>
        <div id="sobreNS-markdown3" style="color:#000000;font-size:15px;">
            <p>Oferecer a Educação Básica e Educação Profissional aos jovens e adultos do município de São Vicente e região para que sejam felizes, produtivos, capazes de melhorar sua própria vida e de todos os espaços em que convivem.</p>
        </div>
        <h2 id="sobreNS-heading3" style="color:#000000;font-weight:400;text-align:center;">“VISÃO DA ETEC DOUTORA RUTH CARDOSO”</h2>
        <div id="sobreNS-markdown4" style="color:#000000;font-size:15px;">
            <p>Ser uma Etec reconhecida na região pelos padrões de qualidade no oferecimento da Educação Básica (Ensino Médio) e Educação Profissional, articulada com o mercado de trabalho para diminuir a distância entre a escola e a empregabilidade.</p>
        </div>
        <h2 id="sobreNS-heading4" style="color:#000000;font-weight:400;text-align:center;">“VALORES DA ETEC DOUTORA RUTH CARDOSO”</h2>
        <div id="sobreNS-markdown5" style="color:#000000;font-size:15px;">
            <p>-UNIÃO</p>

            <p>-COOPERAÇÃO</p>

            <p>-ENVOLVIMENTO</p>

            <p>-PERTENCIMENTO</p>

            <p>-TOLERÂNCIA</p>

            <p>-SOLIDARIEDADE</p>

            <p>-DIZER A VERDADE</p>

            <p>-ACEITAÇÃO DO OUTRO</p>
        </div>
        <div class="spacer" style="width: 283px; height: 44px;"></div>
        <div class="spacer" style="width: 283px; height: 44px;"></div>
        <h1 id="sobreNS-heading5" style="color:#000000;text-align:center;">Centro Paula Souza</h1>
        <div class="spacer" style="width: 283px; height: 44px;"></div>
        <div id="sobreNS-markdown6" style="color:#000000;font-size:15px;">
            <p>O Centro Paula Souza é uma autarquia do Governo do Estado de São Paulo, vinculada à Secretaria de Desenvolvimento Econômico, Ciência, Tecnologia e Inovação (SDECTI). A instituição administra 219 Escolas Técnicas Estaduais (Etecs) e 66 Faculdades
                de Tecnologia (Fatecs), reunindo mais de 283 mil alunos em cursos técnicos de nível médio e superiores tecnológicos, em mais de 300 municípios.</p>

            <p>As Etecs atendem 208 mil estudantes nos Ensinos Técnico, Médio e Técnico Integrado ao Médio, com 137 cursos técnicos para os setores industrial, agropecuário e de serviços, incluindo habilitações na modalidade semipresencial, Educação de Jovens
                e Adultos (EJA) e especialização técnica.</p>

            <p>Já nas Fatecs, mais de 75 mil alunos estão matriculados em 72 cursos de graduação tecnológica, em diversas áreas, como Construção Civil, Mecânica, Informática, Tecnologia da Informação, Turismo, entre outras. Além da graduação, são oferecidos
                cursos de pós-graduação, atualização tecnológica e extensão.</p>
        </div>
    </ion-content>
</ion-view>